<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
    <title>MovieRama</title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"> <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">MovieRama</a>
        <a class="navbar-brand" href="#">Sort By</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/likes">Likes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hates">Hates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dates">Date</a>
                </li>
            </ul>
        </div>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <% if (!user) { %>
                    <a class="nav-link" href="auth/github">Sign in with Github</a>
                    <% } else { %>
                    <a class="nav-link">Hello, <%= user.username %>!</a>
                    <% } %>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container paddingMovieForm">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6 offset-md-3 ">
                <form action="/movie/addMovie" method="post">
                    <div class="form-group">
                        <label for="title">Title of the movie</label>
                        <input type="text" class="form-control" id="title" name="title"
                            placeholder="Gone With The Wind">
                    </div>

                    <div class="form-group">
                        <label for="Description">Description of the movie</label>
                        <textarea class="form-control" id="description" name="description"
                            placeholder="Long Movie etc..." rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <footer class="container">
            <p>&copy; Theodore P. 2020</p>
        </footer>
</body>

</html>